/* Write The CSS Here  */
/* index/login css */
.fullPageBody{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* logo section */
.indexLogoContainer{
    background-color: #f18269;
}

/* form section */
.indexFormContainer{
    background-image: url("/images/assets/background_biru.png");
    background-repeat: repeat;
    background-size: contain;
    
}

.indexLoginForm{
    background-color: white;
    border: none;
    border-radius: 15px;
}

/* form header */
.indexFormHeader img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indexFormHeader h1{
    padding-top: 90px;
    color: #224587;
}

/* form body */
.indexFormBody > div > input{
    border: none;
    background-color: #adc7e8;
    border-radius: 10px;
    background-size: 7.5%;
    background-position: 5%;
    background-repeat: no-repeat;
}

/* form body */
.indexFormBody > div > input[type="email"]{
    background-image: url("/images/assets/logo_username.png");
}

.indexFormBody > div > input[type="password"]{
    background-image: url("/images/assets/logo_password.png");
}

.indexFormBody > div > input::placeholder, input::-webkit-input-placeholder{
    color: #7797BB;
    position: relative;
    left: 35px;
}

/* form body checkbox */
.indexFormBody > div > div > input{
    border: none;
    background-color: #7797BB;
}

/* form footer */
.indexFormFooter{
    padding-top: 40px;
}

.indexFormFooter p{
    font-size: 175%;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.indexFormFooter button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -35%);
}

/* css for sign up text */
.signUpLink{
    position: relative;
    font-size: 125%;
    top: 65px;
    color: white;
}

.signUpLink a{
    color: yellow;
}